* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

button {
    margin: 20px;
}

.row {
    display: flex;
    width: 700px;
    height: 100%;
}

.square {
    display: flex;
    border: 1px solid black;
    height: 100%;
    flex: 1;
}

.square-hover {
    background-color: red;
}
